<h1>All Pets</h1><br />

<%= link_to 'View All Shelters', "/shelters" %><br>

<% @shelter_pet.pets.each do |pet| %>
<img src="<%= pet.image %>" alt="Pictured: <%= pet.name %>">
<h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
<p>Approximate Age: <%= pet.age %></p>
<p>Sex: <%= pet.sex %></p>
<%= link_to  "Update Pet", "/pets/#{pet.id}/edit" %><br />
<%= link_to  "Delete Pet", "/pets/#{pet.id}", method: :delete, data: {confirm: "Are you sure you want to delete this pet?"} %><br>
<% end %>

<%= link_to  "Create Pet", "/shelters/#{@shelter_pet.id}/pets/new" %>