<img src="<%= @pet.image %>" alt="Pictured: <%= @pet.name %>"><br />
<h3><%= @pet.name %></h3><br />
<%= "Approximate Age: #{@pet.age}" %><br/>
<%= "Sex: #{@pet.sex}" %><br/>
<%= "Description: #{@pet.description}" %><br/>
<%= "Adoption status: #{@pet.adoptable_status}" %><br/>

<%= link_to  "Update Pet", "/pets/#{@pet.id}/edit" %>